
/* Style the accordion section */
.accordion__section {
    background-color: white;
    margin: 0 auto;
    width: 100%;    
}

@media only screen and (max-width: 500px) {
    .accordion__section {        
        width: 87%;
        float: right;        
    }
  }

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;

    display: flex;
    flex-direction: column;

    position: relative;
    /* margin-left: 25px; */
    transition: background-color 0.8s ease;
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
    padding: 0 25px;
    background-color: white;
    overflow: hidden;
    transition: max-height 400ms ease;
}

.icon {
    color: white;
    padding: 15px;
    background-color: #4ca5d0;

    position: absolute;
    left: -60px;
}


.accordion__indicator {
    color: lightgray;
    border: solid #e5e5e5 3px;
    border-radius: 3px;
    padding: 0 4px;

    position: absolute;
    top: 10px;
    right: 10px;
}

.accordion__indicator:hover {
    color: whitesmoke;
    background-color: #e5e5e5;
    border: solid #e5e5e5 3px;
}





